*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}
table, th, td {
    border-color: green;
    border-style: solid;
    border-collapse: collapse;
}
.kolona1{
    background-color: rgb(42, 212, 241);
}
.kolona2{
    background-color: yellow;
}
.kolona3{
    background-color: rgb(162, 211, 150);
}
.levo{
    text-align: left;
}
.desno{
    text-align: right;
}
.centar{
    text-align: center;
}
#red3{
    background-color:rgb(162, 211, 150);
    color: red;
}
form { 
    border-color: green;
    border-style: solid;
    margin: 0 auto;
    width: 500px;
    text-align:center;
}
label{
    display: inline-block;
    text-align: right;
    width: 55px;
}
.margina{
    margin: 20px 0px;
}
.div2{
    width: 460px;
}
.dugme{
    width: 80px;
}